
.header img {
    height: 80px;
}

.header nav {
    background: black;
    padding: 2% 0;
}
.header nav a {
    text-decoration: none;
    color: white;
    padding: 0 2%;
}

.header nav a:hover {
    background: white;
    padding: 2%;
    color: black;
}